# ClipByte Root GitIgnore

# Node.js
node_modules/
dist/
build/
.env

# Firebase
.firebase/
firebase-debug.log*
.firebaserc

# OS Files
.DS_Store
Thumbs.db
*.log

# Project Specific Secrets (Web)
web/firebase-config.js
web/cloudinary.js

# Project Specific Secrets (Android)
android/local.properties
android/app/google-services.json
android/app/src/main/java/com/clipbyte/app/util/CloudinaryHelper.kt
android/.gradle/
android/app/build/
android/build/
android/captures/
android/*.iml
android/.idea/
android/.externalNativeBuild/
android/.cxx/
android/local.properties
